:host(.pagination) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: inherit;
}

.pagination {
  &__list {
    flex-wrap: wrap;

    @media (max-width: 768px) {
      margin-top: 50px;
    }
  }

  &__button {
    color: black;
    margin: 0 2px;

    &:hover {
      background-color: white;
      border-color: black;
      color: black;
    }

    &--active {
      color: white;
      background-color: black;

      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
}
