.countries-list {
  max-width: inherit;

  &__table {
    margin: 20px;
  }

  &__table-header {
    $_column-size-s: 100px;
    $_column-size-m: 200px;
    $_column-size-l: 330px;

    &--small {
      width: $_column-size-s;
    }

    &--medium {
      width: $_column-size-m;
    }

    &--large {
      width: $_column-size-l;
    }
  }

  &__modal {
    display: none;

    &--open {
      display: block;
    }
  }
}
