<div class="overflow-auto">
  <table class="countries-list__table table text-nowrap">
    <thead>
      <tr>
        <th
          class="sg-sortable countries-list__table-header--large"
          scope="col"
          [attr.aria-sort]="sortState"
        >
          <button class="sg-table-sort" (click)="onSortChanged()">Name</button>
        </th>
        <th class="countries-list__table-header--small" scope="col">Region</th>
        <th class="countries-list__table-header--small" scope="col">Area</th>
        <th class="countries-list__table-header--medium" scope="col">
          Capital city
        </th>
        <th class="countries-list__table-header--small" scope="col">
          UN Member Status
        </th>
        <th></th>
        <th class="countries-list__table-header--small"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{ item.name.common }}</td>
        <td>{{ item.region }}</td>
        <td>{{ item.area }}</td>
        <td>{{ item.capital[0] ? item.capital[0] : "-" }}</td>
        <td>{{ item.unMember }}</td>
        <td class="py-sm-0 align-middle">
          <button type="button" class="size-sm" (click)="showMoreInfo(item)">
            See more info
          </button>
        </td>
        <td class="py-sm-0 align-middle">
          <button
            class="size-sm primary"
            type="button"
            (click)="changeCountryStatus(item)"
          >
            {{ item.isFavorite ? "Unlike" : "Like" }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<aside
  aria-describedby="modal_body"
  aria-labelledby="modal_header"
  aria-modal="true"
  class="countries-list__modal modal"
  role="dialog"
  role="dialog"
  [ngClass]="{ 'countries-list__modal--open': isModalOpen }"
>
  <header>
    <h3 id="modal_header" class="heading-m">
      {{ selectedCountry?.name?.common }}
    </h3>
    <button class="close" (click)="closeModal()">
      <span class="sr-only">Close</span>
      <i></i>
    </button>
  </header>
  <div class="body" id="modal_body">
    <p>Population: {{ selectedCountry?.population }}</p>
  </div>
</aside>
