<div class="overflow-auto">
  <table class="table text-nowrap">
    <thead>
      <tr>
        <th scope="col" class="sg-sortable example" aria-sort="ascending">
          <button class="sg-table-sort" (click)="onSortChanged()">
            <span class="sr-only">Sort by</span>
            Name
            <span class="sr-only">ascending</span>
          </button>
        </th>
        <th scope="col">Region</th>
        <th scope="col">Area</th>
        <th class="example" scope="col">Capital city</th>
        <th scope="col">UN Member Status</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{ item.name.common }}</td>
        <td>{{ item.region }}</td>
        <td>{{ item.area }}</td>
        <td>{{ item.capital[0] ?? "-" }}</td>
        <td>{{ item.unMember }}</td>
        <td class="py-sm-0 align-middle">
          <button
            type="button"
            class="size-sm"
            (click)="showMoreInfo(item.name.common, item.population)"
          >
            See more info
          </button>
        </td>
        <td class="py-sm-0 align-middle">
          <button
            type="button"
            class="size-sm primary"
            (click)="showMoreInfo(item.name.common, item.population)"
          >
            Like this country!
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<aside
  role="dialog"
  role="dialog"
  aria-modal="true"
  aria-labelledby="modal_header"
  aria-describedby="modal_body"
  class="modal"
  [ngClass]="{ 'modal--open': isModalOpen }"
>
  <header>
    <h3 id="modal_header" class="heading-m">{{ selectedCountry?.name }}</h3>
    <button class="close" (click)="closeModal()">
      <span class="sr-only">Close</span>
      <i></i>
    </button>
  </header>
  <div class="body" id="modal_body">
    <p>Population: {{ selectedCountry?.population }}</p>
  </div>
</aside>
